apiVersion: v1
kind: Secret
metadata:
  name: {{ argocd_gitops_app_name }}-repo
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{ argocd_gitops_repo_url }}
  sshPrivateKey: |
{{ argocd_gitops_ssh_key | indent(4, first=true) }}
