apiVersion: v1
kind: Secret
metadata:
  name: {{ grafana_admin_secret_name }}
  namespace: {{ grafana_namespace }}
type: Opaque
stringData:
  admin-user: {{ grafana_admin_user | to_json }}
  admin-password: {{ grafana_admin_password | to_json }}
